html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image: url(images/tvbg.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center center;
    background-size: 105%;
    height: 100vh;
    overflow: hidden;
   
}

#myVideo {
    position: absolute;
    width: 1070px;
    height: auto;
    z-index: 1;
    object-fit: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#poem {
    position: relative;
    z-index: 2;
    font-family: "Crete Round", serif;
    font-weight: 1000;
    font-style: normal;
    mix-blend-mode: lighten;
    text-shadow: 0px 0 3px rgb(96, 205, 255);
    color: aliceblue;
}

#frame {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 1070px;
    height: auto;
    max-width: 90vw;
    max-height: 90vh;
}

#line1{
    position:fixed ;
    bottom: 20%;
    left: 20%;
    font-size: 24px;

}
#line2{
    position:fixed ;
    bottom: 30%;
    left: 20%;
    font-size: 24px;

}
#line3{
    position:fixed ;
    bottom: 20%;
    left: 20%;
    font-size: 24px;

}
#line4{
    position:fixed ;
    bottom: 30%;
    left: 20%;
    font-size: 24px;

}
#lineauthor{
    position:fixed ;
    bottom: 20%;
    left: 20%;
    font-size: 24px;

}

.fa-solid {
    position: fixed;
    bottom: 15%;
    right: 18%;
    font-size: 32px;
    color: rgb(248, 252, 255);
    text-shadow: 2px 2px 3px rgb(96, 205, 255);
    z-index: 4;
}
.fa-solid:hover{
    font-size: 40px;
    color: blanchedalmond;
    cursor: pointer;
}

.hidden {
    opacity: 0;
}
.show {
    opacity: 1;
}